#video-grid {
    display: grid;
    display: flex;
    height: 300px;
    width: 240px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
	background-color: #202225;
}

.vid-container {
    height: 300px;
    width: 240px;
}

#hang-up {
    border-radius: 15px;
    height: 50px;
    width: 75px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    color: white;
    box-shadow: inset 5px 5px 10px #da6969,
                inset -5px -5px 10px rgb(140, 140, 242);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;
}

.vid-container > button:hover {
    cursor: pointer;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ringing {
    animation: call 2s linear infinite;
}

@keyframes call {
    50% {
        opacity: 0;
    }
}

#myVideo {
    display: none;
}

.my-vid-container {
    display: none;
}