.image-container {
	width: 40px;
	height: 40px;
}

.message-user-profile-pic {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.messages {
	list-style: none;
}

.message-info {
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: flex-start;
	align-items: center;
}

.message-info > h3 {
	font-weight: normal;
	color: white;
	margin-top: 41px;
	margin-left: 8px;
	font-size: 18px;
}

.message-info > p {
	color: #72767d;
	margin-top: 38px;
	font-size: 12px;
	margin-left: 5px;
}

.messages-container {
	font-family: sans-serif;
	height: 87.5vh;
	width: 500px;
	position: absolute;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 5%;
	left: 120%;
	background-color: #36393f;
}

.messages-container > * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.message-box {
	position: absolute;
	bottom: 0;
	left: 440px;
	width: 500px;
}

#message-box {
	background-color: #40444b;
	color: white;
	width: 500px;
	height: 44px;
	border-radius: 8px;
	border: 0;
	font-size: 100%;
	padding-left: 20px;
	position: absolute;
	bottom: 0;
	left: 260px;
}

#message-box::placeholder {
	color: #72767d;
}

#message-box:focus {
	outline: none;
}

.channel-header {
	position: absolute;
	z-index: 1;
	top: -1%;
	left: 120%;
	color: #dcddde;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 2px;
	font-size: 14px;
	width: 1110px;
	padding: 0;
	margin-bottom: 0px;
}

.channel-header-text::before {
	font-family: 'Oswald', sans-serif;
	content: '#';
	color: #72767d;
	margin-right: 5px;
	width: 1110px;
}

.message-elipsis {
	color: #72767d;
	margin-top: 23px;
	position: relative;
	left: 4%;
	top: 0%;
}

.message-elipsis:hover {
	cursor: pointer;
}

.edit-buttons {
	display: flex;
	flex-direction: column;
	width: 200px;
	display: none;
	position: relative;
	bottom: 75px;
	left: 75%;
	z-index: 1;
}

.del-message,
.edit-message {
	border: 1px solid #36393f;
	background-color: #40444b;
	color: #dcddde;
	font-family: sans-serif;
	padding: 5px 10px;
	/* margin: 0px 5px; */
	border-radius: 8px;
}

.del-message:hover,
.edit-message:hover {
	cursor: pointer;
}

.del-message {
	color: rgb(167, 116, 116);
}

.edit-form {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100px;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 45%;
	top: 45%;
	z-index: 10001;
	font-family: sans-serif;
	background-color: #40444b;
	border-radius: 8px;
}

.edit-form > button {
	width: 75px;
}
