@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap');
body,
html,
#root {
	height: 100% !important;
	width: 100% !important;
	min-height: 100% !important;
	padding: 0;
	margin: 0;
	background-color: #36393f;
	color: white;
	overflow-x: hidden;
    font-family: sans-serif;
	display: 'browser';
}

::-webkit-scrollbar {
	display: none;
}

#modal {
	
}

#modal-background {
}

#modal-content {
}

#modal-content > .home {
	position: absolute;
	margin: 0 auto;
	
}

.friends-nav {
	display: none;
}

.menu-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
	font-size: 16px;
}

@media screen and (max-width: 750px) {
	html, body, #root {
		overflow: hidden;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px;
	}

	select,
	textarea,
	input {
		font-size: 16px;
	}
}