/* TODO Add site wide styles */
body, html, #root {
    height: 100% !important;
    width: 100% !important;
    min-height: 100vh !important;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

#modal {

}

#modal-background {

}

#modal-content {

}

