#edit-profile {
    position: absolute;
    left: 100px;
    bottom: 275px;
    z-index: 5;
    height: 450px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #36393f;
}


#edit-profile>label {
    border-bottom: 1px solid gray;
}

#edit-profile>input {
    border-radius: 15px;
    width: 200px;
    text-align: center;
}

#edit-profile>input:focus {
    outline: none;
}

#edit-profile>button {
    background-color: transparent;
    box-shadow: inset 5px 5px 10px #da6969,
        inset -5px -5px 10px rgb(140, 140, 242);
    border-radius: 15px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#edit-profile>button:hover {
    cursor: pointer;
}

#close-settings {
    position: absolute;
    bottom: 700px;
    left: 290px;
    z-index: 6;
    /* align-self: flex-end; */
    background-color: transparent;
    border: none;
    /* padding-top: 15px;
        padding-right: 15px; */
}

#close-settings:hover {
    cursor: pointer;
}

#file-upload {
    height: 100px;
    width: 100px;
    padding-bottom: 50px;
}