.channel_list {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 100px;
	height: 100%;
	width: 240px;
	background-color: #2f3136;
}

.user_profile_name {
	background-color: #292b2e;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 100px;
	z-index: 2;
	bottom: 0px;
	height: 75px;
	width: 240px;
	display: flex;
	font-size: 20px;
	font-weight: bolder;
}


.user-profile {
	min-width: 180px;
	width: 100px !important;
	display: flex;
	align-items: center;
	gap: 15px;
	padding-left: 10px;
	text-overflow: ellipsis;
}

.user_profile > p {
	margin: 0;
}

.user_profile_photo {
	height: 40px;
	border-radius: 70%;
}

.channel-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.align_the_side_bar_channel {
	height: 1em;
	font-size: 0.75em;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	cursor: pointer;
	color: #dcddde;
	/* transform: translate(0%, -500%); */
}

.align_the_side_bar_channel > h2::before {
	content: '#';
	color: #72767d;
	font-weight: 0;
	margin-right: 10px;
	margin-left: 10px;
}
.align_the_side_bar_channel > h2:hover {
	background-color: #575758;
	cursor: pointer;
}

.align_the_side_bar_channel.selected > h2 {
	background-color: #72767d;
}

.align_the_side_bar_channel.selected>h2::before {
	color: white;
}

.settings {
	border-radius: 15px;
	height: 30px;
	width: 40px;
	padding-right: 20px;
	background-color: transparent;
	border: none;
	color: white;
	position: absolute;
	z-index: 10;
	bottom: 25px;
	left: 280px;
}

.settings:hover {
	cursor: pointer;
}
