.channel_list {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 100px;
	height: 100%;
	width: 240px;
	background-color: #2f3136;

	/* flex: 0.75;
	background-color: green; */
}

.user_profile_name {
	background-color: #292b2e;
	padding: 5px 5px 0px 10px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0px;
	box-sizing: border-box;
	height: 75px;
	width: 240px;
	display: flex;
	font-size: 20px;
	font-weight: bolder;
	flex: 1;

	/* padding: 10px; */
}

.user_profile_photo {
	height: 40px;
	border-radius: 70%;
	padding: 15px;
}

.settings_icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 70px;
	flex: 1;
}

.settings_icon:hover {
	color: gray;
}

.channel-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.align_the_side_bar_channel {
	height: 3em;
}

/* .channel {
	background-image: linear-gradient(red, blue);

	height: fit-content;
} */

/* .channel.hidden {
	display: none;
	visibility: hidden;
}

.channel.visible {
	flex-direction: column;
	display: inline-block;
	visibility: visible;
	position: absolute;
	z-index: 100;
} */
