.server_img_container {
	padding: 5px;
	border-radius: 50%;
	width: 4em;
}

.side_bar_main {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1.25;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 100px;
	height: 100%;
	background-color: #202225;
}

.server-icon:hover {
	cursor: pointer;
}

.align_the_side_bar {
	flex: 1;
}
.server_name_header {
	/* flex: 1; */
	font-size: 3em;
	z-index: 2;
	height: 70px;
	transform: translate(10%, -65%);
}

.server-icon {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	padding-top: 5px;
}

.server-icon.unread::before {
	content: '>';
	color: white;
	flex-direction: row;
}

.home-icon-container {
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
}
.plus-icon-container {
	padding-bottom: 5px;
}

.home-icon > i {
	color: white;
}

.home-icon,
.plus-icon {
	align-items: center;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	background-image: linear-gradient(rgb(108, 1, 203), rgb(196, 39, 39));
	display: flex;
	justify-content: center;
	align-items: center;
}
.plus-icon:hover, .home-icon:hover {
	transition: .05s;
    border-radius: 20px;
}

.create-server-modal {
	visibility: hidden;
}

.create-channel-modal {
	align-items: center;
	z-index: 3;
	position: absolute;
	height: 350px;
	width: 540px;
	border-radius: 5px;
	left: 500px;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	left: 50%;
	top: 50%;
  	transform: translate(-50%, -50%);
}

.channel-modal-title{
  background: -webkit-linear-gradient(rgb(88, 11, 140), rgb(250, 14, 14));
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-under-channel-modal {
	margin: 0;
	font-size: 1.5rem;
	background: -webkit-linear-gradient(rgb(88, 11, 140), rgb(250, 14, 14));
	font-weight: 700;
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

.server-name-header {
  margin-top: 15px;
  width: 400px;
  height: 100px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.create-server-name-input{
	color: #87909c;
	font-size: 20px;
	font-weight: bolder;
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.image-Url-input{
	color: #87909c;
	font-size: 20px;
	font-weight: bolder;
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	transform: translate(0%, -70%);
}

.channel_photo_upload_modal {
	transform: translate(0%, -70%);
}

.cancel_button{
	background-color: #7289da;
	border-color: #7289da;
	width: 85px;
	height: 40px;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	transform: translate(-175%, -45%);
}

.cancel_button:hover {
	cursor: pointer;
}

.create_button {
	background-color: #7289da;
	border-color: #7289da;
	width: 95px;
	height: 40px;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	transform: translate(175%, -45%);
}

.create_button:hover {
	cursor: pointer;
}

#search-button {
	pointer-events: all;
	background-color: transparent;
	border: none;
	color: white;
}

#search-button:hover {
	cursor: pointer;
}
.server_name_bottom_bar {
	border-bottom: 1px solid gray;
	transform: translate(-10%, -5050%);
}


