.server_img_container {
	padding: 5px;
	border-radius: 50%;
	width: 65px;
}

.side_bar_main {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1.25;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100px;
	/* background-color: yellow; */
	background-color: #202225;
}

.server-icon:hover {
	cursor: pointer;
}

.align_the_side_bar {
	flex: 1;
}
.server_name_header {
	flex: 1;
	background-color: blueviolet;
	z-index: 2;
}

.server-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
}

.home-icon-container {
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
}
.plus-icon-container {
	padding-bottom: 5px;
}

.home-icon,
.plus-icon {
	align-items: center;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	background-image: linear-gradient(rgb(108, 1, 203), rgb(196, 39, 39));
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-server-modal {
	visibility: hidden;
}