.error {
    color: rgb(247, 78, 78);
    margin: 0;
    padding: 0;
}

.splash-log {
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    word-wrap: break-word;
    box-shadow: inset 5px 5px 10px #da6969,
    inset -5px -5px 10px rgb(140, 140, 242);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 15px;
}

.logs {
    display: flex;
    gap: 25px;
}

.log-buttons {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px lightgray;
}

#demo-button {
    background-color: transparent;
    border: none;
}

#demo-button:hover {
    cursor: pointer;
}

.log-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 5px;
}

.log-form > label {
    border-bottom: 1px solid gray;
}

.log-form > input {
    border-radius: 15px;
    padding: 5px;
    width: 20vw;
    text-align: center;
}

.log-form > input:focus {
    outline: none;
}

.log-form > button {
    background-color: transparent;
    box-shadow: inset 5px 5px 10px #da6969,
                inset -5px -5px 10px rgb(140, 140, 242);
    border-radius: 15px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
}

.log-form > button:hover {
    cursor: pointer;
}

@media screen and (max-width: 760px) {

    .splash-log {
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        box-shadow: inset 5px 5px 10px #da6969,
        inset -5px -5px 10px rgb(140, 140, 242);
        border-radius: 10px;
        overflow: scroll;
        padding: 25px;
    }

    .log-form>input {
        border-radius: 15px;
        padding: 5px;
        width: 40vw;
        height: 25px;
        text-align: center;
    }

    .log-form > input:focus {
        outline: none;
        font-size: 16px;
    }
}