@media screen and (min-width: 760px) {

    .splash {
        padding: 25px;
        height: fit-content;
    }

    .return-button {
        padding: 15px;
        border-radius: 15px;
        box-shadow: inset 5px 5px 10px #da6969,
                    inset -5px -5px 10px rgb(140, 140, 242);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        gap: 1em;
        margin-top: 10px;
    }

    .return-button:hover {
        cursor: pointer;
    }

    .return-button > p {
        margin: 0;
    }
    
    .return-header {
        font-size: 2em;
        color: white;
        text-decoration: none;
    }

    .home {
        /* height: 100vh !important; */
        width: 80vw;
        padding: 0;
        margin: 0;
        position: relative;
        left: 10vw;
        top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .splash {
        width: 80%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        box-shadow: inset 5px 5px 10px #da6969,
                    inset -5px -5px 10px rgb(140, 140, 242);
        border-radius: 10px;
        height: fit-content;
    }

    .splash > h1 {
        font-size: 3rem;
        margin: 0;
    }

    .splash > p {
        width: 80%;
        font-size: 1.2rem;
        text-align: center;
    }

    .dev-team {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        text-align: center;
    }

    .dev-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

    }
}


@media screen and (max-width: 760px) {

    .home {
        /* height: 100vh !important; */
        width: 90vw;
        padding: 0;
        margin: 0;
        position: relative;
        left: 5vw;
        /* top: 2vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .splash {
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        box-shadow: inset 5px 5px 10px #da6969,
        inset -5px -5px 10px rgb(140, 140, 242);
        border-radius: 10px;
        overflow: scroll;
    }
    
    .splash > h1 {
        font-size: 1em;
        margin: 0;
    }

    .splash > p {
        width: 80%;
        font-size: 1rem;
        text-align: center;
    }

    .dev-team {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: center;
        /* flex-direction: column; */
        font-size: .75em;
        padding: 10px;
    }

    .dev-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

    }

    .return-button {
        padding: 15px;
        border-radius: 15px;
        box-shadow: inset 5px 5px 10px #da6969,
            inset -5px -5px 10px rgb(140, 140, 242);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        gap: 1em;
        margin-top: 10px;
    }

    .return-header {
        font-size: 2em;
    }

    .return-header {
        font-size: 2em;
        color: white;
        text-decoration: none;
    }
}