#menu-modal {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	height: 150px;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 5;
	left: 100px;
	bottom: 75px;
	/* border-radius: 15px; */
	padding-bottom: 15px;
}

.menu-modal > * {
	color: white;
}

#menu {
	align-self: flex-end;
	background-color: transparent;
	border: none;
	border-radius: 15px;
	padding: 5px;
	padding-right: 10px;
	color: white;
	box-shadow: inset 5px 5px 10px #da6969,
		inset -5px -5px 10px rgb(140, 140, 242);
}

#menu:hover {
	cursor: pointer;
}

#close-modal {
	position: absolute;
	left: 0;
	right: 0;
	/* align-self: flex-end; */
	background-color: transparent;
	border: none;
	/* padding-top: 15px;
	padding-right: 15px; */
}

#close-modal:hover {
	cursor: pointer;
}

.logout {
	background-color: transparent;
	border: none;
	font-size: 1rem;
	color: gray;
	text-decoration: none;
}

.logout:hover {
	cursor: pointer;
	color: lightgray;
}

.active {
	border-radius: 15px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}
.active > img {
	box-shadow: inset 5px 5px 10px #da6969,
		inset -5px -5px 10px rgb(140, 140, 242);
}

.links {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 760px) {
	.menu-modal {
		background-image: linear-gradient(to right, #434343 0%, black 100%);
		height: 20vh;
		min-height: 200px;
		width: 25vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		right: 0;
		top: 10vh;
		border-radius: 15px;
		padding-bottom: 15px;
	}

	.menu-modal > * {
		color: white;
		font-size: 1.5rem;
	}

	#menu {
		align-self: flex-end;
		background-color: transparent;
		border: none;
		border-radius: 15px;
		padding: 5px;
		padding-right: 10px;
		color: white;
		box-shadow: inset 5px 5px 10px #da6969,
			inset -5px -5px 10px rgb(140, 140, 242);
	}

	#menu:hover {
		cursor: pointer;
	}

	#close-modal {
		align-self: flex-end;
		background-color: transparent;
		border: none;
		padding: 5px;
		padding-right: 10px;
	}

	.logout {
		background-color: transparent;
		border: none;
	}

	.active {
		border-radius: 15px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: white;
		font-size: 1.2rem;
	}

	.links {
		color: white;
		text-decoration: none;
	}

	.active > img {
		box-shadow: inset 5px 5px 10px #da6969,
			inset -5px -5px 10px rgb(140, 140, 242);
	}
}
