@media screen and (min-width: 760px) {
    .friends-container {
        width: 20vw;
        height: 80vh;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-radius: 5px;
        overflow-y: scroll;
    }

    .friends-nav {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgray;
        position: sticky;
        top: 0;
        background-color: lightgray;
    }

    .friends-nav > * {
        color: black;
        font-size: 1.5em;
    }

    .friends {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .friends > h3 {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        background: -webkit-linear-gradient(rgb(88, 11, 140), rgb(250, 14, 14));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .friend {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .friend-info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .friend > img {
        height: 75px;
        width: 75px;
        border-radius: 50px;
    }

    .friend-buttons {
        display: flex;
        gap: 10px;
    }

    .friend-buttons > *:hover {
        cursor: pointer;
    }

    .friend-buttons > * {
        border-radius: 15px;
        height: 25px;
        width: 25px;
        padding: 5px;
        background-color: transparent;
        border: none;
        color: white;
        box-shadow: inset 5px 5px 10px #da6969,
                    inset -5px -5px 10px rgb(140, 140, 242);
    }


}

@media screen and (max-width: 760px) {
    .friends-container {
       width: 20vw;
       height: 80vh;
       position: absolute;
       right: 0;
       display: flex;
       flex-direction: column;
       gap: 25px;
       border-left: 1px solid lightgray;
       border-top: 1px solid lightgray;
       border-bottom: 1px solid lightgray;
       border-radius: 5px;
       overflow-y: scroll;
    }

    .friends-nav {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgray;
        position: sticky;
        top: 0;
        background-color: lightgray;
        color: black
    }

    .friends-nav > * {
        color: black;
        font-size: 1.5em;
    }

    .friends {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .friends > h3 {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        background: -webkit-linear-gradient(rgb(88, 11, 140), rgb(250, 14, 14));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .friend {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .friend-info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .friend > img {
        height: 75px;
        width: 75px;
        border-radius: 50px;
    }

    .friend-buttons {
        display: flex;
        gap: 10px;
    }

    .friend-buttons > * {
        border-radius: 15px;
        height: 25px;
        width: 25px;
        padding: 5px;
        background-color: transparent;
        border: none;
        color: white;
        box-shadow: inset 5px 5px 10px #da6969,
                    inset -5px -5px 10px rgb(140, 140, 242);
    }


}
